<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h3>직업 ,성별  게임 사용시간 설문조사</h3>
<form action="surveyprocess" method="post" name="frm">{% csrf_token %}
<table>
	<tr>
	<td>귀하의 직업은?</td>
	<td>
		<label for='job1'>화이트칼라</label>
		<input type="radio" id='job1' name='job' value='화이트칼라' checked="checked">
		<label for='job2'>블루칼라</label>
		<input type="radio" id='job2' name='job' value='블루칼라'>
		<label for='job3'>학생</label>
		<input type="radio" id='job3' name='job' value='학생'>
		<label for='job4'>기타</label>
		<input type="radio" id='job4' name='job' value='기타'>
	</td>	
	</tr>
	<tr>
	<td>귀하의 성별은?</td>
	<td>
		<label for='genM'>남</label>
		<input type="radio" id='genM' name='gender' value='남' checked="checked">
		<label for='genF'>여</label>
		<input type="radio" id='genF' name='gender' value='여'>
	</td>	
	</tr>
	<tr>
	<td>귀하의 하루 평균 게임 사용 시간은?</td>
	<td>
	시간 입력(예: 1.5, 0.5, 3.0) :<input type="number" name="playgame" step="0.5" min="0" max="24">
	 
	<!-- <input type="text" name="playgame" onkeypress="if(event.keyCode==13) {chkLogIn();}">-->	
	
	</td>
	</tr>
		
	<tr>
	<td colspan="2">
	<br>
	<input type="submit" value="설문완료">
	<input type="button" value="초기화">
	</td>
	</tr>
</table>
</form>
</body>
</html>